accelerate
flask
flask-cors
fuzzywuzzy
gunicorn
huggingface
huggingface-hub
nltk
numpy
pydantic
pydantic[email]
pymongo
python-dotenv
pytz
redis
scikit-learn
scipy
sentence-transformers
sentencepiece
torch
torchvision
transformers
tqdm
