accelerate
black
coverage
flake8
flask
flask-cors
fuzzywuzzy
gunicorn
huggingface
huggingface-hub
nltk
numpy
pydantic
pydantic[email]
pymongo
pytest
pytest-cov
python-dotenv
pytz
redis
scikit-learn
scipy
sentence-transformers
sentencepiece
torch
torchvision
transformers
tqdm
