@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "Virust";
  src: url("../../assets/virust.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.home-container {
  padding: 30px;
  padding-bottom: 100px;
  background-color: #796855;
}

.section-title {
  font-family: "Virust", serif;
  color: #EBE8E1;
  margin-bottom: 15px;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
}

.recommendations-section {
  background-color: #0E3523;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.recommendations-section .section-title {
  text-align: center;
  font-size: 58px;
  font-weight: normal;
}
.recommendations-section .book-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-left: 34px;
}
@media (min-width: 768px) {
  .recommendations-section .book-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
.recommendations-section .book-grid .book-cover {
  width: 90%;
  max-width: 280px;
  height: 80%;
}
.recommendations-section .book-grid .book-cover:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.reading-section {
  background-color: #0E3523;
  padding: 15px 15px 25px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reading-section .section-title {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: normal;
}
.reading-section.to-read .book-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  height: 400px;
}
.reading-section.to-read .book-grid .book-cover {
  width: 90%;
  max-width: 280px;
  height: 80%;
}
.reading-section.to-read .book-grid .book-cover:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.current-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.current-book .book-cover {
  width: 100% !important;
  max-width: 300px !important;
  height: 80% !important;
}
.current-book .book-cover:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.last-finished {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  gap: 10px;
}
.last-finished .book-cover {
  width: 110%;
  max-width: 330px;
  height: 70%;
}
.last-finished .book-cover:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.update-button, .chat-button {
  background-color: #796855;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 36px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  margin-top: 10px;
}
.update-button:hover, .chat-button:hover {
  background-color: #7E4F34;
}

.more-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #796855;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 60px;
  bottom: 300px;
  transform: translateY(50%);
}
.more-link svg {
  color: white;
}
.more-link:hover {
  background-color: #7E4F34;
}

.reading-sections {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .reading-sections {
    grid-template-columns: 1fr 1fr 2fr;
  }
}/*# sourceMappingURL=home.css.map */