.add-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.add-box {
    background: $-rust-brown;
    color: $-tan;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 350px;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.add-popup-close {
    background: none;
    border: none;
    color: $-tan;
    font-size: 32px;
    position: absolute;
    top: 0px;
    right: 15px;
    cursor: pointer;

    &:hover, &:focus {
        color: $-green;
    }
}

.things-to-add-to {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 22px;
}

.things-to-add-to div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.plus-button {
    background: none;
    border: none;
    font-size: 30px;
    color: $-tan;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover, &:focus {
        color: $-green;
    }
}
