.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.modal-box {
    background-color: $-dark-green;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    animation: fadeIn 0.25s ease-in-out;
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: $-tan;
        margin-bottom: 20px;
        font-weight: 600;
    }
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.confirm-button, .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: $-green;
    color: $-tan;
}
.confirm-button:hover {
    background-color: #7dd480;
    color: $-dark-green;
}
.cancel-button:hover {
    background-color: #f47970;
    color: $-dark-green;
}