@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'Virust';
    src: url("../assets/virust.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}