.profile-container {
  padding: 40px;
  background-color: $-brown;
}

.profile-inner {
  padding: 60px;
  margin-bottom: 150px;
  background-color: $-dark-green;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 30% 70%;
  gap: 20px;
}

.profile-top {
  display: flex;
  gap: 40px;
  color: $-tan;

  .profile-picture {
    background-color: $-tan;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
  }
  .profile-info {
    flex: 1;
    .profile-name {
      font-size: 48px;
      margin-bottom: -10px;
    }
    .profile-member-since {
      font-family: 'Open Sans', sans-serif;
      font-size: 24px;
      font-weight: 400;
      margin-top: 5px;
    }
    .edit-profile-button {
      background-color: $-rust-brown;
      color: $-tan;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      font-weight: 400;
      padding: 10px 25px;
      border-radius: 5px;
      margin-top: 15px;
      border: none;
      box-shadow: none;
      cursor: pointer;
      &:hover, &:focus {
        background-color: $-rust-brown-hover;
      }
    }
  }
}

.profile-bottom {

}