.search-container {
  padding: 40px;
  padding-bottom: 140px;
  background-color: $-brown
}

.search-bar {
  background-color: $-green;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 15px;

  .search-icon {
    color: $-tan;
    font-size: 24px;
  }

  input {
    flex: 1;
    background-color: transparent;
    border: none;
    color: $-tan;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    outline: none;

    &::placeholder {
      color: rgba($-tan, 0.7);
      font-size: 18px;
    }
  }
}

.filter-dropdown {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #0e3523;
  background-color: #EBE8E1;
  border: 2px solid #2A664D;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-dropdown:hover, .filter-dropdown:focus {
  border-color: #7e4f34;
  box-shadow: 0 0 5px rgba(126, 79, 52, 0.4);
}

.filter-dropdown option {
  font-size: 14px;
  background-color: #EBE8E1;
  color: #0e3523;
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.book-card {
  background-color: $-dark-green;
  border-radius: 8px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  align-items: start;
  position: relative;
}

.book-cover {
  background-color: white;
  width: 200px; 
  aspect-ratio: 2/3;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.book-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.book-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: $-tan;
  margin: 0;
  font-size: 26px; 
}

.book-author {
  font-family: "Open Sans", sans-serif;
  color: $-tan;
  margin: 0;
  font-size: 20px; 
  font-style: italic;
}

.book-description {
  font-family: "Open Sans", sans-serif;
  color: $-tan;
  margin: 8px 0 0;
  font-size: 14px; 
  line-height: 1.8; 
}

.add-button {
  background-color: $-rust-brown;
  color: white;
  border: none;
  border-radius: 50%;
  width: 45px; 
  height: 45px; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;

  &:hover, &:focus {
    background-color: $-rust-brown-hover;
  }
}